@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 27);
}

:root {
  --max-width: 80vw;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  height: 12vh;
  font-family: "Roboto", sans-serif;
  padding: 2%;
}
.field1,
.field2,
.field3,
.field4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
.field1 fieldset,
.field2 fieldset,
.field3 fieldset,
.field4 fieldset {
  width: var(--max-width);
  background-color: grey;
  border-radius: 5px;
  margin: 1%;
  color: white;
  height: 32vh;
  border: 2px solid white;
}
.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 1%;
  border-radius: 10px;
  width: 59vw;
  height: 7vh;
  font-size: 16px;
  font-weight: 900;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.btn button:hover {
  background-color: rgb(61, 61, 61);
}

#ft1 {
  height: 90vh;
  margin-top: 20px;
}

#ft2 {
  height: 50vh;
}
#ft3 {
  height: 50vh;
}
#ft4 {
  height: 50vh;
}

#resume {
  box-shadow: 0px 10px 30px white;
  margin-top: 10vh;
  margin-bottom: 20vh;
  height: 265vh;
  width: 70vw;
  margin-left: 15%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field1 fieldset legend,
.field2 fieldset legend,
.field3 fieldset legend,
.field4 fieldset legend {
  margin-left: 3%;
  margin-bottom: 1%;
}
.field1 input,
.field2 input,
.field3 input {
  margin: 3px;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid black;
  width: 35vw;
  margin-left: 12vw;
}
.field2 select {
  margin: 3px;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid black;
  width: 35vw;
  margin-left: 12vw;
}
.field2 textarea,
.field3 textarea,
.field1 textarea {
  margin: 3px;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid black;
  width: 35vw;
  margin-left: 12vw;
}
.field4 textarea {
  margin: 3px;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid black;
  width: 35vw;
  margin-left: 12vw;
  height: 23vh;
}
.resumeoutput {
  width: 66vw;
  background-color: grey;
  border-radius: 35px;
  margin: 1%;
  color: white;
  height: 150vh;
  margin-left: 18%;
  border: 5px solid white;
}
.resumeoutput h1 {
  font-weight: bolder;
  margin: 1%;
  color: black;
  font-style: italic;
}
.resumeoutput h2 {
  margin: 1%;
  color: black;
}
.resumeoutput p {
  margin: 10px 0px 10px 20px;
  color: black;
  font-size: larger;
}
.pop {
  margin: auto;
  border: 2px solid black;
  box-shadow: 0px 4px 8px black;
  border-radius: 500%;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  margin-left: 2%;
}
.line {
  height: 2px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}
.margin {
  margin-left: 20px;
}

@media screen and (max-width: 2000px) {
  .field1 fieldset,
  .field2 fieldset,
  .field3 fieldset,
  .field4 fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (max-height: 780px) {
  .field1 fieldset,
  .field2 fieldset,
  .field3 fieldset,
  .field4 fieldset {
    height: 62vh;
  }
  #resume {
    height: 270vh;
  }
}
@media screen and (max-width: 390px) {
  .pop {
    width: 20vw;
    height: 20vw;
  }
}
@media screen and (max-width: 1000px) {
  .pop {
    width: 19vw;
    height: 19vw;
  }
}

@media screen and (max-width: 780px) {
  .box1 {
    font-size: 12px;
  }
  .about {
    font-size: 14px;
  }
  .About {
    font-size: 15px;
  }
  .header {
    padding: 20px 6px 0px 0px;
    gap: 58px !important;
  }
  .name {
    font-size: 9px;
  }
  .img {
    width: 100px !important;
    height: 100px !important;
  }
}
@media screen and (max-width: 572px) {
  .name {
    font-size: 10px;
  }
  .header {
    gap: 37px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 572px) {
  .box1 {
    font-size: 8px;
  }
  .About {
    font-size: 10px;
  }
  .about {
    font-size: 9px;
  }
  .name {
    font-size: 9px;
  }
  .header {
    gap: 13px !important;
  }
}

@media screen and (max-width: 486px) {
  .name {
    font-size: 7px;
  }
  .header {
    gap: 30px !important;
    padding: 20px 30px 0px 0px !important;
  }

  .img {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 400px) {
  .img {
    width: 70px !important;
    height: 70px !important;
  }
}

#buttonscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.styled-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 1%;
    border-radius: 10px;
    width: 59vw;
    height: 7vh;
    font-size: 16px;
    font-weight: 900;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

#buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}